!!!
//if lt IE 7
	| <html class='no-js lt-ie9 lt-ie8 lt-ie7'>
//if IE 7
	| <html class='no-js lt-ie9 lt-ie8'>
//if IE 8
	| <html class='no-js lt-ie9'>
//if gt IE 8
	| <html class='no-js'>
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible',content='IE=edge,chrome=1')
	title EM for Gaussian Mixture
	meta(name='description',content='')
	meta(name='viewport',content='width=device-width')
	// build:css styles/styles.css
	link(rel='stylesheet',href='styles/bootstrap.css')
	link(rel='stylesheet',href='styles/icons.css')
	link(rel='stylesheet',href='styles/main.css')
	// endbuild
body(ng-app='emjsApp')
	//if lt IE 7
		p.chromeframe You are using an outdated browser.
			a(href='http://browsehappy.com/').
				Upgrade your browser today
			| or
			a(href='http://www.google.com/chromeframe/?redirect=true').
				install Google Chrome Frame
			| to better experience this site.
	//if lt IE 9
		script(src='scripts/vendor/es5-shim.min.js')
		script(src='scripts/vendor/json3.min.js')
	.container(ng-controller='MainCtrl',ng-init='debug = #{debug}')
		h2 Expectation Maximization for Gaussian Mixture
		div(ng-init='step = false',ng-show='step')
			button(ng-click='iterate()') Step
			button(ng-click='run()') RUN

		.row
			.span8
				//span(ng-show='result.L ') LogLikelihood :
				//	span.label {{ result.L | number:2 }}
				div.loading(ng-show='calculating')
				div(ng-hide='calculating',drop-area='dropFiles')
					#plot(flot='graphdata',flot-options='graphoptions',click='plotclick(args)')
				//div {{ graphdata }}
			.span4(ng-show="debug") {{ dataset[0].data.slice(0,5) | json }}

		.row(ng-controller="DataItemCtrl",ng-repeat="ds in dataset",ng-init="data=ds.data; filelist=ds.filelist; result=ds.result")
			.span12
				span.accordion-header(ng-click="hide=!hide",ng-class="{opened: hide, closed: !hide}")
					span.label {{ $index }} : {{ ds.name }}
				| [
				a(title="toggle graph",ng-click="ds.show=!ds.show") {{ ds.show && "hide" || "show" }}
				| ]
				span(ng-hide="dataset.length == 1")
					| [
					a(title="delete dataset",ng-click="dataset.splice($index,1)") delete
					| ]
				| [
				a(title="insert dataset",ng-click="addDataSet($index)") insert
				| ]
			form.form.form-inline(ng-hide="hide",ng-submit='setInitialCondition(model0)')
				.span7
					.pull-right
						label binsize:
							input.input.input-small(type='text',ng-model='binsize')
						button.btn(ng-click='model0.push({m:0,s:30,p:1,focus:true})') add cluster
						input.btn.btn-success(type='submit')
					table.table.table-striped.table-condensed
						thead
							tr
								th #
								th init_m
								th result_m
								th result_s
								th result_p
						tbody
							tr(ng-repeat='m in model0')
								td
									span.badge {{ $index }}
								td
									input.input.input-small(type='number',ng-model='model0[$index].m',focus='model0[$index].focus')
									a(ng-click='remove($index)') &times;
								td {{ result.model[$index].m | number:0 }}
								td {{ result.model[$index].s | number:0 }}
								td {{ result.model[$index].p | number:2 }}
					.span7(ng-show="debug") {{ data.slice(0,10) | json }}
					//div(ng-show="debug") model0: {{ model0 | json }}
				.span5(drop-area='filelist')
					.span2
						textarea.span2(plot-data-input-field='data', rows="7")
					.span2
						button.btn(file-select='filelist') select file
						button.btn(ng-click="sort()") sort

	// build:js scripts/vendors.js
	script(src='components/jquery/jquery.js')
	script(src='scripts/vendor/angular.js')
	script(src='components/flot/jquery.flot.js')
	// endbuild
	// build:js scripts/scripts.js
	script(src='scripts/shim.js')
	script(src='scripts/GMEM.js')
	script(src='scripts/directives.js')
	script(src='scripts/app.js')
	// endbuild
	// Google Analytics
	script
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
| </html>
